<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Hoot Tickets - Checkout</title>
</head>
<body>
	<h5>Nombre del evento: {{eventName}}</h5>
	
	<h5>La sesión ocurre el día: {{showingTime}}</h5>
	<h5>La sesión tiene lugar en: {{showingPlace}}</h5>
	
	<h5>Entradas seleccionadas a continuación</h5>
	<form method="POST" action="/testFinishedCheckoutPage">
	<input type="hidden" name="showingDate" value="{{showingTime}}"/> 
    <input type="hidden" name="showingEvent" value="{{eventName}}"/> 
    
	{{#ticketsSelected}}
	<table>
	
		<tr>
			<td>Ticket name: {{getFirst.ticketID.ticketName}}</td>
			<td>Ticket price: {{getFirst.ticketPrice}}</td>
			<td>Ticket quantity:{{getSecond}}</td>
			<input type="hidden" name="seat[]" value="{{getSecond}}"/>
		</tr>
		
	</table>
	{{/ticketsSelected}}
	<p></p>
		<table>
			<tr>
				<td>Número de tarjeta</td>
				<td><input type="text" name="creditcardnumber"></td>
			</tr>
			<tr>
				<td>CVV</td>
				<td><input type="text" name="cvv"></td>
			</tr>
		</table>
		
		<button type="submit">Complete check-out</button>
	</form>

</body>

</html>