<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<h5>Nombre del evento: {{eventName}}</h5>
	
	<h5>La sesión ocurre el día: {{showingTime}}</h5>
	<h5>La sesión tiene lugar en: {{showingPlace}}</h5>
	
	<h5>Entradas seleccionadas a continuación</h5>
	<form method="POST" action="/testFinishedCheckoutPage">
		<input type="hidden" name="ShowingDate" value="{{showingTime}}"/> 
    <input type="hidden" name="ShowingEvent" value="{{eventName}}"/> 
	<table>
		{{#ticketsSelected}}
		<tr>
			<td>Ticket name: {{ticketID.ticketName}}</td>
			<td>Ticket price: {{ticketPrice}}</td>
			<td>Ticket quantity: {{quantity}}</td>
			<input type="hidden" name=seat[] value="{{quantity}}"/>
		</tr>
		{{/ticketsSelected}}
	</table>
	
	<p></p>
		<table>
			<tr>
				<td>Número de tarjeta</td>
				<td><input type="text" name="creditcardnumber"></td>
			</tr>
			<tr>
				<td>CVV</td>
				<td><input type="text" name="cvv"></td>
			</tr>
		</table>
		
		<button type="submit">Complete check-out</button>
	</form>
	
<body>

</body>

</html>