<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Hoot Tickets - New event</title>
</head>

<body>
	<p>Creating event with name: {{eventName}}</p>
	<p>Summary: {{eventSummary}}</p>
	<p>Description: {{eventDescription}}</p>
	<br>
	<h5>Current showings</h5>
	<p>----------</p>
	{{#provisionalShowings}}
		<p>Showing number {{-index}}</p>
		<p>Takes place {{showingDate}}/{{showingPlace}}</p>
		{{#provisionalTickets}}
			<p>Ticket number {{-index}}: {{ticketName}}, {{ticketAmount}} tickets, {{ticketPrice}} $ each</p>
		{{/provisionalTickets}}
		{{^provisionalTickets}}
			<p>This session has no tickets yet</p>
		{{/provisionalTickets}}
		<form action="/eventCreation/createTicket" method="post">
			<input type="hidden" name="showingIndex" value="{{-index}}">
			<button type="submit">Create ticket for this showing</button>
		</form>
		<p>----------</p>
	{{/provisionalShowings}}
	{{^provisionalShowings}}
		<p>No showings created yet</p>
	{{/provisionalShowings}}
	
	<form action="/eventCreation/createShowing">
		<button type="submit">Create showing</button>
	</form>
	<p>----------</p>
	<form action="/eventCreation/checkIfValid" method="post">
		<button type="submit">Create event</button>
	</form>
</body>

</html>