<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Hoot Tickets - New event</title>
</head>

<body>
	<form method="post" action="/eventCreation/sendEventData">
	<input type="hidden" name="_csrf" value="{{token}}"/>
		<label>Event name*: </label>
		<input type="text" name="eventName" required="required"></input>
		<br><br>
		<label>Event summary*: </label>
		<textarea name="eventSummary" rows="2" cols="50" required="required"></textarea>
		<br><br>
		<label>Event description:</label>
		<textarea name="eventDescription" rows="5" cols="50"></textarea>
		<br><br>
		<p>Fields marked with "*" are mandatory</p>
		<br><br>
		<button type="submit">Start event creation</button>
	</form>
</body>

</html>