<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>Hoot Tickets</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	{{#loggedIn}}
	<p>Welcome, {{username}}</p>
	{{#isSeller}}
	<p>
		<a href="/eventCreation">Create a new event</a>
	<p>
	{{/isSeller}}
	<p>
		<a href="/user/myTickets">My tickets bought</a>
	<p>
	{{/loggedIn}}
	{{^loggedIn}}
	<p>
		<a href="/registerUser">Sign up</a>
	</p>
	{{/loggedIn}}
	<div class="container text-center">
		<h1>Next events</h1>
		<p>-------</p>
		{{#eventsList}}
		<h4>{{eventName}}</h4>
		<p>{{eventSummary}}</p>
		<form action="/event" method="post">
			<input type="hidden" name="eventID" value="{{eventID}}" /> 
			<input type="hidden" name="_csrf" value="{{token}}"/> <input
				type="submit" value="Check showings" />
		</form>
		<p>-------</p>
		{{/eventsList}}
	</div>
</body>
</html>