<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Hoot Tickets - New event</title>
</head>

<body>
	<form action="/eventCreation/sendShowingData" method="post">
	<input type="hidden" name="_csrf" value="{{token}}"/>
		<label>When is this showing taking place?* </label>
		<input type="date" name="showingDate" required="required">
		<input type="time" name="showingTime" required="required">
		<br>
		<label>Where is this showing taking place?* </label>
		<input type="text" name="showingPlace" required="required">
		<br><br>
		<button type="submit">Create showing</button>
	</form>
</body>

</html>