<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<h1>{{eventName}}</h1>
	<h3>Summary</h3>
	<p>{{eventSummary}}</p>
	<p></p>
	<h3>Time: {{showingTime}}</h3>
	<h3>Place: {{showingPlace}}</h3>
	<h5>Seats available</h5>
	<form method="POST" action="/checkout">
		<input type="hidden" name="showingDate" value="{{showingTime}}" /> <input
			type="hidden" name="showingEvent" value="{{eventName}}" />
		{{#showingTicketsList}}
		<table>
			<tr>
				<td>Ticket name: {{ticketID.ticketName}}</td>
				<td>Available/Total seats:
					{{ticketAvailableSeats}}/{{ticketTotalSeats}}</td>
				<td>Ticket price: {{ticketPrice}}</td>

				<td><p>How many?</p></td>
				<td><input type="number" name="seat[]" value=0 min=0
					max={{ticketAvailableSeats}} required></td>
			</tr>
		</table>
		{{/showingTicketsList}}
		<input type="submit" value="Submit" />
	</form>
</body>

</html>