<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<h1>{{eventName}}</h1>
	<h3>Summary</h3>
	<p>{{eventSummary}}</p>
	<p></p>
	<h3>Time: {{showingTime}}</h3>
	<h3>Place: {{showingPlace}}</h3>
	<h5>Seats available</h5>
	{{#showingTicketsList}}
	<table>
		<tr>
			<td>Ticket name: {{ticketID.ticketName}}</td>
			<td>Available/Total seats: {{ticketAvailableSeats}}/{{ticketTotalSeats}}</td>
			<td>Ticket price: {{ticketPrice}}</td>

			<td><p>How many?</p></td>
			<td>
				<form>
					<input type="text">
				</form>
			</td>
		</tr>
	</table>
	{{/showingTicketsList}}

	<form action="submit">
		<button type="submit" formaction="/ticketcheckout">Proceed to
			check-out</button>
	</form>
</body>

</html>